/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html,
body {
  min-height: 100%; }

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  background-color: #fff;
  position: relative; }
  body.overflow-hidden {
    overflow: hidden; }

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%; }

.container, .topics__in, .search__in, .download-app__in {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1220px; }
  @media only screen and (max-width: 959px) {
    .container, .topics__in, .search__in, .download-app__in {
      max-width: 768px; } }
  @media only screen and (max-width: 767px) {
    .container, .topics__in, .search__in, .download-app__in {
      max-width: 600px; } }
  @media only screen and (max-width: 599px) {
    .container, .topics__in, .search__in, .download-app__in {
      max-width: 480px; } }
  @media only screen and (max-width: 479px) {
    .container, .topics__in, .search__in, .download-app__in {
      max-width: 100%; } }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icon-facebook {
  width: 0.4736328125em; }

.icon-linkedin {
  width: 1.0556640625em; }

.icon-logo {
  width: 0.9384765625em; }

@font-face {
  font-family: 'pt_serifbold';
  src: url("fonts/ptserif-bold.eot");
  src: url("fonts/ptserif-bold.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-bold.woff2") format("woff2"), url("fonts/ptserif-bold.woff") format("woff"), url("fonts/ptserif-bold.ttf") format("truetype"), url("fonts/ptserif-bold.svg#pt_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_serifregular';
  src: url("fonts/ptserif-regular.eot");
  src: url("fonts/ptserif-regular.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-regular.woff2") format("woff2"), url("fonts/ptserif-regular.woff") format("woff"), url("fonts/ptserif-regular.ttf") format("truetype"), url("fonts/ptserif-regular.svg#pt_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_serifbold_italic';
  src: url("fonts/ptserif-bolditalic.eot");
  src: url("fonts/ptserif-bolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-bolditalic.woff2") format("woff2"), url("fonts/ptserif-bolditalic.woff") format("woff"), url("fonts/ptserif-bolditalic.ttf") format("truetype"), url("fonts/ptserif-bolditalic.svg#pt_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_serifitalic';
  src: url("fonts/ptserif-italic.eot");
  src: url("fonts/ptserif-italic.eot?#iefix") format("embedded-opentype"), url("fonts/ptserif-italic.woff2") format("woff2"), url("fonts/ptserif-italic.woff") format("woff"), url("fonts/ptserif-italic.ttf") format("truetype"), url("fonts/ptserif-italic.svg#pt_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Black';
  src: url("fonts/GothamPro-Black.eot");
  src: url("fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Black.woff2") format("woff2"), url("fonts/GothamPro-Black.woff") format("woff"), url("fonts/GothamPro-Black.ttf") format("truetype"), url("fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("fonts/GothamPro-Bold.eot");
  src: url("fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Bold.woff2") format("woff2"), url("fonts/GothamPro-Bold.woff") format("woff"), url("fonts/GothamPro-Bold.ttf") format("truetype"), url("fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("fonts/roboto-black.eot");
  src: url("fonts/roboto-black.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-black.woff2") format("woff2"), url("fonts/roboto-black.woff") format("woff"), url("fonts/roboto-black.ttf") format("truetype"), url("fonts/roboto-black.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("fonts/roboto-bold.eot");
  src: url("fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold.woff2") format("woff2"), url("fonts/roboto-bold.woff") format("woff"), url("fonts/roboto-bold.ttf") format("truetype"), url("fonts/roboto-bold.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("fonts/roboto-light.eot");
  src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff2") format("woff2"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"), url("fonts/roboto-light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular.eot");
  src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular.woff2") format("woff2"), url("fonts/roboto-regular.woff") format("woff"), url("fonts/roboto-regular.ttf") format("truetype"), url("fonts/roboto-regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.button {
  height: 36px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #4f545b;
  border: 1px solid #c2cddc;
  display: inline-block;
  padding: 8px 20px;
  line-height: 18px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
  -webkit-transition: 0.15s;
          transition: 0.15s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  opacity: 0.8; }
  .button:hover {
    opacity: 1; }
  .button.small {
    height: 30px;
    font-size: 12px;
    padding: 5px 15px;
    line-height: 18px; }
  .button.employer {
    color: #fff;
    border: 1px solid #1e82a3;
    background: #1e82a3; }
  .button.applicant {
    color: #fff;
    border: 1px solid #109686;
    background: #109686; }
  .button.success {
    color: #fff;
    border: 1px solid #1fca91;
    background: #1fca91; }
  .button.warning {
    color: #fff;
    border: 1px solid #f6c215;
    background: #f6c215; }
  .button.danger {
    color: #fff;
    border: 1px solid #ee5f5d;
    background: #ee5f5d; }

.button + .button {
  margin-left: 20px; }

.form-control {
  height: 36px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #4f545b;
  border: solid 1px #c2cddc;
  padding: 8px 16px;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .form-control:not(.disabled).success {
    border-color: #1fca91;
    color: #1fca91; }
  .form-control:not(.disabled).error {
    border-color: #ee5f5d;
    color: #ee5f5d; }
  .form-control.disabled {
    border-color: #c2cddc;
    cursor: not-allowed; }
  .form-control.applicant:active, .form-control.applicant:focus {
    border-color: #50d2c2; }
  .form-control.employer:active, .form-control.employer:focus {
    border-color: #5cbfdf; }
  .form-control::-webkit-input-placeholder {
    color: #c2cddc; }
  .form-control::-moz-placeholder {
    color: #c2cddc; }
  .form-control:-ms-input-placeholder {
    color: #c2cddc; }
  .form-control::placeholder {
    color: #c2cddc; }

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .checkbox input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .checkbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #c2cddc;
    background-color: #fff;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 18px;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
  .checkbox input[type="checkbox"] + label {
    vertical-align: middle;
    padding-left: 30px;
    color: #4f545b;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px; }
    .checkbox input[type="checkbox"] + label:hover:before {
      background-image: url("../something.png");
      background-repeat: no-repeat; }
  .checkbox.applicant input[type="checkbox"]:checked + label:before {
    border: 1px solid #50d2c2;
    background-color: #50d2c2; }
  .checkbox.employer input[type="checkbox"]:checked + label:before {
    border: 1px solid #5cbfdf;
    background-color: #5cbfdf; }
  .checkbox input[type="checkbox"]:disabled:checked + label:before {
    background: #c2cddc; }
  .checkbox input[type="checkbox"]:disabled + label:checked {
    cursor: default; }

.checkbox-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .checkbox-list .checkbox {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 9px 14px; }
    .checkbox-list .checkbox.applicant {
      border-right: 1px solid #50d2c2; }
    .checkbox-list .checkbox.employer {
      border-right: 1px solid #5cbfdf; }
    .checkbox-list .checkbox:last-child {
      border: 0; }

.switcher {
  width: 296px;
  height: 40px;
  border: solid 1px #9b9b9b;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  .switcher__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    cursor: pointer;
    height: 32px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 1px transparent;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #9b9b9b;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
    .switcher__item.active, .switcher__item:hover {
      border-color: rgba(155, 155, 155, 0.4);
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
    .switcher__item.applicant.active, .switcher__item.applicant:hover {
      color: #109686; }
    .switcher__item.employer.active, .switcher__item.employer:hover {
      color: #1e82a3; }

.header {
  height: 80px;
  padding: 20px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .header__title.employer {
      color: #1e82a3; }
    .header__title.applicant {
      color: #109686; }
  .header__controls {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header .logo {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0; }
    .header .logo .icon {
      font-size: 2.5em; }
  .header .switcher {
    margin-right: 24px; }

.jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0ed2c1), to(#00a6cc));
  background-image: -webkit-linear-gradient(top, #0ed2c1, #00a6cc);
  background-image: linear-gradient(to bottom, #0ed2c1, #00a6cc);
  padding: 45px 60px; }
  .jumbotron__title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0 0 50px;
    text-align: center;
    color: #fff; }
  .jumbotron__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .jumbotron__item {
    position: relative;
    width: 25%; }
    .jumbotron__item:after {
      content: "";
      width: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      opacity: 0.6;
      background: rgba(255, 255, 255, 0.6); }
    .jumbotron__item:last-child:after {
      display: none; }
  .jumbotron__icon-wrap {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto 32px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    background: #fff; }
  .jumbotron__item-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center; }
    .jumbotron__item-title a {
      color: #fff;
      text-decoration: none; }

.topics__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 100px 0 0;
  margin: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.topics__item {
  width: 33.33%;
  margin-bottom: 125px; }

.topics__icon-wrap {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 50px; }
  .topics__icon-wrap .icon {
    font-size: 6.3em; }

.topics__item-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #000; }
  .topics__item-title a {
    color: #000;
    text-decoration: none; }

.search {
  background: #5cbfdf; }
  .search__in {
    padding-top: 22px;
    padding-bottom: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .search__in > * {
      margin: 0 15px; }
      .search__in > *:first-child {
        margin-left: 0; }
      .search__in > *:last-child {
        margin-right: 0; }
    .search__in .form-control {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .search__in .checkbox-list {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2; }

.download-app {
  background: #4a4a4a; }
  .download-app__in {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .download-app__text-block {
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .download-app__title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
    margin: 0 0 6px; }
  .download-app__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #fff;
    margin: 0; }
  .download-app__button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .download-app__button {
    margin-right: 30px;
    width: 202px;
    height: 50px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    display: block;
    opacity: 0.8; }
    .download-app__button.google-play {
      background: url("../../img/button_google_play.png") no-repeat; }
    .download-app__button.app-store {
      background: url("../../img/button_app_store.png") no-repeat; }
    .download-app__button:last-child {
      margin-right: 0; }
    .download-app__button:hover {
      opacity: 1; }
  .download-app .icon-ios-logo {
    font-size: 5em;
    margin-right: 25px; }

.footer {
  background: #2b2f30;
  padding: 30px 60px 50px; }
  .footer__content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 40px; }
  .footer__nav {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__nav-item {
    font-size: 14px;
    font-weight: 300;
    line-height: 2.14;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    -webkit-transition: 0.3s;
            transition: 0.3s; }
    .footer__nav-item:hover {
      text-decoration: underline; }
  .footer .social-networks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer .social-networks__item {
      height: 48px;
      width: 48px;
      background: rgba(255, 255, 255, 0.4);
      overflow: hidden;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 20px;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      opacity: 0.8; }
      .footer .social-networks__item:last-child {
        margin-right: 0; }
      .footer .social-networks__item .icon {
        font-size: 1.3em;
        color: #2b2f30; }
      .footer .social-networks__item:hover {
        opacity: 1; }
  .footer .logo {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 20px;
    color: rgba(255, 255, 255, 0.4); }
    .footer .logo .icon {
      font-size: 2.5em;
      fill: rgba(255, 255, 255, 0.4); }
  .footer .copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 2.5;
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.4); }
