@font-face {
    font-family: 'pt_serifbold';
    src: url('fonts/ptserif-bold.eot');
    src: url('fonts/ptserif-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ptserif-bold.woff2') format('woff2'),
    url('fonts/ptserif-bold.woff') format('woff'),
    url('fonts/ptserif-bold.ttf') format('truetype'),
    url('fonts/ptserif-bold.svg#pt_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifregular';
    src: url('fonts/ptserif-regular.eot');
    src: url('fonts/ptserif-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/ptserif-regular.woff2') format('woff2'),
    url('fonts/ptserif-regular.woff') format('woff'),
    url('fonts/ptserif-regular.ttf') format('truetype'),
    url('fonts/ptserif-regular.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('fonts/ptserif-bolditalic.eot');
    src: url('fonts/ptserif-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/ptserif-bolditalic.woff2') format('woff2'),
    url('fonts/ptserif-bolditalic.woff') format('woff'),
    url('fonts/ptserif-bolditalic.ttf') format('truetype'),
    url('fonts/ptserif-bolditalic.svg#pt_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_serifitalic';
    src: url('fonts/ptserif-italic.eot');
    src: url('fonts/ptserif-italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/ptserif-italic.woff2') format('woff2'),
    url('fonts/ptserif-italic.woff') format('woff'),
    url('fonts/ptserif-italic.ttf') format('truetype'),
    url('fonts/ptserif-italic.svg#pt_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamPro-Black';
    src: url('fonts/GothamPro-Black.eot');
    src: url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro-Black.woff2') format('woff2'),
    url('fonts/GothamPro-Black.woff') format('woff'),
    url('fonts/GothamPro-Black.ttf') format('truetype'),
    url('fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('fonts/GothamPro-Bold.eot');
    src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamPro-Bold.woff2') format('woff2'),
    url('fonts/GothamPro-Bold.woff') format('woff'),
    url('fonts/GothamPro-Bold.ttf') format('truetype'),
    url('fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black.eot');
    src: url('fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-black.woff2') format('woff2'),
    url('fonts/roboto-black.woff') format('woff'),
    url('fonts/roboto-black.ttf') format('truetype'),
    url('fonts/roboto-black.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold.eot');
    src: url('fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-bold.woff2') format('woff2'),
    url('fonts/roboto-bold.woff') format('woff'),
    url('fonts/roboto-bold.ttf') format('truetype'),
    url('fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light.eot');
    src: url('fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-light.woff2') format('woff2'),
    url('fonts/roboto-light.woff') format('woff'),
    url('fonts/roboto-light.ttf') format('truetype'),
    url('fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular.eot');
    src: url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-regular.woff2') format('woff2'),
    url('fonts/roboto-regular.woff') format('woff'),
    url('fonts/roboto-regular.ttf') format('truetype'),
    url('fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

